langchain==0.3.14
langchain-core==0.3.29
langchain-community==0.3.14
langchain-groq
langchain-openai==0.2.14
openai>=1.0.0
tavily-python==0.5.0
requests==2.32.3
fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9
streamlit==1.39.0
python-dotenv==1.0.1
pydantic>=2.0.0
